@font-face {
    font-family: "Nanum";
    src: url("./fonts/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumBold";
    src: url("./fonts/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumEBold";
    src: url("./fonts/NanumSquareRoundEB.ttf") format("truetype");
}

body,
html,
:root {
    font-family: "Nanum";
    background-color: #f9f9f9;
}

input {
    font-family: "Nanum";
}

button {
    font-family: "Nanum";
}

.icon-circle-user {
    color: #142343;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-search {
    color: #32497B;
}

.icon-modal-profile {
    width: 17px;
    height: 17px;
    margin-right: 9px;
}

.icon-modal-logout {
    width: 15px;
    height: 15px;
    margin-right: 9px;
}

.icon-modal-directM {
    width: 15px;
    height: 15px;
    margin-right: 9px;
}

.icon-modal-bell {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.icon-main-read-book {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon-open-text {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon-bestbook-arrow {
    position: sticky;
    bottom: 1%;
    left: 50%;
    color: #6e6e6e;
}

.icon-mypage-paper-plane {
    margin-right: 10px;
}

.icon-review-box {
    margin-right: 15px;
}

.icon-bookdetail-category {
    color: #142343;
    margin-right: 16px;
    width: 18px;
    height: 18px;
}

.icon-bookdetail-modal {
    color: #142343;
    width: 19px;
    height: 16px;
    margin-right: 16px;
}

.icon-journal-pencil {
    color: #142343;
    margin-right: 10px;
    margin-left: 5px;
}

.icon-library-marker {
    margin-right: 10px;
}

.icon-bestbook-arrow {
    opacity: 0.4;
    transition: all 0.3s ease;
}

.icon-bestbook-arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.icon-editprofile-upload {
    color: #142343;
    font-size: 35px;
}